.link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 100;
    transition: background-color 0.3s, color 0.3s; /* Add transition property */
  }
  
  .link:hover {
    background-color: darkorchid;
    color: aliceblue;
  }
  